/* INICIO FOOTER */
footer{
    background-color: #000;
    overflow:hidden;
}

p{
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    color: #fff;
    margin-top: #000;
}
/* FIN FOOTER */
